* {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	text-decoration:none;
	text-align: center;
	color: #FFFFFF;
	}

body {
	background-color: #1F2229; 
    background-size: 100%;
}




#container th {
	width: 25%;
	color: #4D86C0;
	text-transform: uppercase;
}

*{
	margin: 0;
	padding: 0;
  }

